<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Онлайн кинотеатр</h1>
      <p>
        Лучшие фильмы в лучшем качестве.
      </p>
      <p>
        <a class="btn btn-primary btn-lg" href="https://yandex.ru/referats/" role="button">Топ 100 фильмов</a>
      </p>
    </div>
  </div>

</main>

<div class="row g-3">

  <div class="alert alert-danger" [style.display]="isError ? 'block' : 'none'">
    Can't load the video gallery
  </div>

<div class="container mt-3">

  <div class="row">
    <div class="col-sm-4">
      <a routerLink="/player/{{videoMetadata.id}}">
        <img src="{{videoMetadata.previewUrl}}" alt="..." class="card-img-top">
      </a>
    </div>

    <div class="col-sm-8">
      <h2 class="card-text">{{videoMetadata.name}}</h2>
      <p class="card-text">{{videoMetadata.description}}</p>

      <table cellspacing="20" cellpadding="20">
        <tr>
          <td>
            <p>Страна</p>
          </td>
          <td>
            <div class="horizontal">
              <div *ngFor="let country of videoMetadata.countryList">
                <p>{{country.name+ ', '}}</p>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <p>Жанр</p>
          </td>
          <td>
            <div class="horizontal">
              <div *ngFor="let genre of videoMetadata.genreList">
                <p>{{genre.name+ ', '}}</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>

</div>
